body {
  font-family: $font-family--OpenSans;
  color: $black;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  min-height: 100vh;
  min-width: 320px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  overflow-x: hidden;
}
