.intro {
  background-color: #131314;
  background-image: url("../img/bike_header_desktop.jpg");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bike_header_desktop@2x.jpg");
  }

  @media (max-width: $desktop-width) {
    position: relative;
    background-image: url("../img/bike_header_tablet.jpg");
    margin-bottom: 250px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bike_header_tablet@2x.jpg");
    }
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/bike_header_mobile.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bike_header_mobile@2x.jpg");
    }
  }
}

.intro__inner {
  max-width: 895px;
  margin: 0 auto 240px auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
  position: relative;

  @media (max-width: $desktop-width) {
    display: block;
    width: 767px;
    margin: 4px auto 0;
  }

  @media (max-width: $tablet-width) {
    width: 320px;
  }
}

.intro__logo {
  @media (max-width: $desktop-width) {
    display: block;
    margin-left: 20px;
    margin-top: 12px;
  }
}

.intro__title {
  font-size: 46px;
  line-height: 64px;
  color: #ffffff;
  margin: 23px 0 24px 0;
  width: 400px;

  @media (max-width: $desktop-width) {
    margin: 80px 0 20px;
    font-size: 30px;
    line-height: 42px;
    width: 100%;
    text-align: center;
  }

  @media (max-width: $tablet-width) {
    margin-top: 67px;
  }
}

.intro__text {
  color: #ffffff;
  opacity: 0.8;
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  width: 385px;

  @media (max-width: $desktop-width) {
    width: 435px;
    margin: 0 auto;
    margin-bottom: 80px;
    text-align: center;
  }

  @media (max-width: $tablet-width) {
    width: 295px;
    margin-bottom: 70px;
  }
}

.intro__form {
  margin-left: auto;
  margin-right: 15px;

  @media (max-width: $desktop-width) {
    position: absolute;
    left: 50%;
    top: 160%;
    transform: translateX(-50%);
  }

  @media (max-width: $tablet-width) {
    top: 143%;
  }
}
